doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Yoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/style.css")
    body
        header 
            h1 Yoom
            h3 1:1 Private Video🎥 & Chat💬
        main
            div#welcome
                form
                    div#room
                        input(placeholder="Room Name", required, type="text")
                    button Enter Room
            div#call
                h2
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    video#peerFace(autoplay, playsinline, width="400", height="400")
                div#control    
                    select#cameras
                    button#mute Mute🔇
                    button#camera Turn Camera Off
                    button#hangup Leave Room
            div#message
                ul
                form
                    input(placeholder="Message", required, type="text")
                    button Send

        script(src="socket.io/socket.io.js") 
        script(src="/public/js/app.js") 